{
    "presets": [
      [
        "env",
        {
          "targets": {
            "browsers": [
                "ie >=9",
                "last 2 version",
                "> 5%",
                "safari >= 7",
                "not dead"
            ]
          }
          // "modules": false
        }
      ]
    ],
    "plugins": ["transform-runtime"]
  }