html {
    body {
        .test {
            display: flex;
            width: 200px;
            height: 200px;
            background: url('./t.png') no-repeat;
        }
        .app0a {
            width: 200px;
            height: 200px;
        }
    }
}

